body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 5px;
}

body {
    font-family: 'Nunito', sans-serif;
    color: black;
}

form {
    max-width: 300px;
    margin: 2px 5px;
    padding: 10px 20px;
    background: none;
    border-radius: 8px;
    color: white;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: solid;
    font-size: 15px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: darkblue;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 50px;
    border-radius: 1px;
}

button {
    padding: 19px 39px 18px 39px;
    color: white;
    background-color: #25c9da;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 5px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #25c9da;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

    label.light {
        font-weight: 300;
        display: inline;
    }

.number {
    background-color: #25c9da;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 1em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 1000px;
    }
}
