<%@ Master Language="C#" MasterPageFile="~/Aplicacion.Master" AutoEventWireup="true" CodeBehind="Configuracion.master.cs" Inherits="PG_CitasMedicas.Configuracion" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

        </asp:ContentPlaceHolder>
    </div>

</asp:Content>
